@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
    --color-avocado-100: oklch(0.99 0 0);
    --color-mint-500: oklch(0.72 0.11 178);
    --color-myGreen: #335c67; 

    --font-custom-font: "SUSE Mono", sans-serif;
}