@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-avocado-100: oklch(0.99 0 0);
    --color-mint-500: oklch(0.72 0.11 178);
    --color-myGreen: #335c67; 

    --font-custom-font: "SUSE Mono", sans-serif;
}



/* Custom Animations */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.animate-loading-bar {
  animation: loading-bar 1.5s ease-in-out infinite;
}

/* 
body {
    @apply font-custom-font
} */
